
    h4 {
    color: #fc03a1;
}

h2 {
    color: #ba0779;
}

a {
color: #000!important;
text-decoration: none;
}

a:hover {
    color: #000!important;
    text-decoration: underline;
    }

 .i {
background-color: #000!important;

    }